if idUsers == ""
  body(onload='window.location.href = "/"')
else
  if role == 0
     body(onload='window.location.href = "/users"')
  else 
    head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible' content='IE=edge')
      meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
      meta(name='description' content='')
      meta(name='author' content='')
      title [ Admin ] Dashboard
      // Custom fonts for this template
      link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
      link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
      // Custom styles for this template
      link(href='/css/style.css' rel='stylesheet')
    body
      // Page Wrapper
      #wrapper
        // Sidebar
        ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
          a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/admin')
            .sidebar-brand-icon.rotate-n-15
              i.fas.fa-laugh-wink
            .sidebar-brand-text.mx-3 Admin Wibu
          // Nav Item - Charts
          li.nav-item
            a.nav-link(href='/admin')
              i.fas.fa-fw.fa-chart-area
              span Dashboard
          // Nav Item - Tables
          li.nav-item
            a.nav-link(href='/admin/users')
              i.fas.fa-fw.fa-table
              span Users 
          .sidebar-card.d-none.d-lg-flex
            a.btn.btn-danger.btn-sm(onclick='Logout()') Selesai Ngewibu
        // End of Sidebar
        // Content Wrapper
        #content-wrapper.d-flex.flex-column
          // Main Content
          #content
            // Topbar
            nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
              // Topbar Navbar
              ul.navbar-nav.ml-auto
                // Nav Item - Search Dropdown (Visible Only XS)
                li.nav-item.dropdown.no-arrow.d-sm-none
                  a#searchDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fas.fa-search.fa-fw
                  // Dropdown - Messages
                  .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
                    form.form-inline.mr-auto.w-100.navbar-search
                      .input-group
                        input.form-control.bg-light.border-0.small(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
                        .input-group-append
                          button.btn.btn-primary(type='button')
                            i.fas.fa-search.fa-sm
                // Nav Item - User Information
                li.nav-item.dropdown.no-arrow
                  a.nav-link.dropdown-toggle
                    span.mr-2.d-none.d-lg-inline.text-gray-600.small= username
                    img.img-profile.rounded-circle(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDONAQPAJFgvmlYI-ssVwgt6saWUmGRwEVWQ&usqp=CAU')
            // End of Topbar
            // Begin Page Content
            .container-fluid
              // Page Heading
              .d-sm-flex.align-items-center.justify-content-between.mb-4
                h1.h3.mb-0.text-gray-800 Dashboard Wibu
              // Area Chart
              .card.shadow.mb-4
                .card-header.py-3
                  h6.m-0.font-weight-bold.text-primary Data Users
                .card-body
                  .table-responsive
                    table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                      thead
                        tr
                          th Username
                          th Tanggal Masuk
                          th Ganti Role
                          th Status Users
                      tbody
                        each user in data
                          tr
                            td= user.username
                            td= user.createdAt
                            td.text-center
                              if user.role == 1
                                a.d-sm-inline-block.btn.btn-sm.btn-info.shadow-sm(data-bs-toggle='modal' data-bs-target='#changerole1'+user.id)
                                  | User
                                // Modal Admin
                                .modal.fade.text-left(id="changerole1"+user.id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                  .modal-dialog
                                    .modal-content
                                      .modal-header
                                        h5#exampleModalLabel.modal-title Change Role
                                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                      .modal-body="Apa Anda mengubah "+user.username+" menjadi Users?"
                                      .modal-footer
                                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Tutup
                                        button.btn.btn-info(onclick="ChangeRole("+user.id+","+user.role+")" type='sumbit' data-bs-dismiss='modal') Change
                              else if user.role == 0
                                a.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(data-bs-toggle='modal' data-bs-target='#changerole2'+user.id)
                                  | Admin
                                // Modal Admin
                                .modal.fade.text-left(id="changerole2"+user.id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                  .modal-dialog
                                    .modal-content
                                      .modal-header
                                        h5#exampleModalLabel.modal-title Change Role
                                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                      .modal-body.modal-body="Apa Anda mengubah "+user.username+" menjadi Admin?"
                                      .modal-footer
                                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Tutup
                                        button.btn.btn-primary(onclick="ChangeRole("+user.id+","+user.role+")" type='sumbit' data-bs-dismiss='modal') Change
                            td.text-center
                              if user.status == 1
                                a.d-sm-inline-block.btn.btn-sm.btn-success.shadow-sm(data-bs-toggle='modal' data-bs-target='#modalunblok'+user.id) Unblok
                                // Modal blokir
                                .modal.fade.text-left(id="modalunblok"+user.id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                  .modal-dialog
                                    .modal-content
                                      .modal-header
                                        h5#exampleModalLabel.modal-title Status Terblokir
                                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                      .modal-body= "Apa user "+user.username+" ingin diunblok?"
                                      .modal-footer
                                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Tutup
                                        button.btn.btn-success(onclick="ChangeStatus("+user.id+","+user.status+")" type='button' data-bs-dismiss='modal') Unblok
                              else if user.status == 0
                                a.d-sm-inline-block.btn.btn-sm.btn-danger.shadow-sm(data-bs-toggle='modal' data-bs-target='#modalblokir'+user.id) Blokir
                                // Modal blokir
                                .modal.fade.text-left(id="modalblokir"+user.id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                  .modal-dialog
                                    .modal-content
                                      .modal-header
                                        h5#exampleModalLabel.modal-title Status Unblokir
                                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                      .modal-body= "Apa user "+user.username+" ingin blokir?"
                                      .modal-footer
                                        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Tutup
                                        button.btn.btn-danger(onclick="ChangeStatus("+user.id+","+user.status+")" type='button' data-bs-dismiss='modal') Blokir
          // End of Main Content
          // Footer
          footer.sticky-footer.bg-white
            .container.my-auto
              .copyright.text-center.my-auto
                span
                  | Copyright &copy; Yuneda, Maria, Ramadhan Yudha, Ariawan &amp; Aulia
                  | 2022
          // End of Footer
        // End of Content Wrapper
      // End of Page Wrapper
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
      script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous')
      script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js' integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13' crossorigin='anonymous')
      script(src='/js/main.js')
      script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
      script(src='https://unpkg.com/axios/dist/axios.min.js')