doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title [ Pendaftaran ] Bioskop Wibu
  //Font
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Css Website
  link(href='./css/style.css' rel='stylesheet')
  body
.container
  .row.justify-content-center
    .col-xl-10.col-lg-12.col-md-9
      .card.o-hidden.border-0.shadow-lg.my-5
        .card-body.p-0
          .row
            .col-lg-6.d-none.d-lg-block.bg-login-image
            .col-lg-6
              .p-5
                .text-center
                  h1.h4.text-gray-900.mb-4 Register Jadi Wibu
                form.user
                  .form-group
                    input#usernameRegister.form-control.form-control-user(type='email' aria-describedby='emailHelp' placeholder='Username')
                  .form-group
                    input#passwordResgiter.form-control.form-control-user(type='password' placeholder='Password')
                  .form-group
                    input#passwordKonfirmasi.form-control.form-control-user(type='password' placeholder='Konfirmasi Password')
                  a.btn.btn-primary.btn-user.btn-block(onclick='Register()')
                    | Daftar
                hr
                .text-center
                  a.small(href='/') Login !
                  script(src='/js/main.js')
                  script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
                  script(src='https://unpkg.com/axios/dist/axios.min.js')
